

ul.tab-nav li {
    display: inline;
}

ul.tab-nav li a.button {
    border: 0px solid #000;
}

ul.tab-nav li a.active.button {
    border: 1px solid #000;
}

.tab-content .tab-pane {
    display: none;
}

.tab-content .tab-pane.active {
    display: block;
}